<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcj.mapper.PermissionMapper">
    <sql id="sqlField">
        id,permissionName,url
    </sql>

    <!--根据角色的id查询角色对应拥有的所有权限-->
    <select id="queryPermissionsByRoleId" parameterType="int" resultType="Permission">
        select * from permission
        where id in (select permissionId from role_permission where roleId=#{roleId})
    </select>

</mapper>