<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcj.mapper.RolePermissionMapper">

    <delete id="deleteRoleAndPermissionByRoleId" parameterType="int">
        delete from role_permission where roleId=#{roleId}
    </delete>
</mapper>